<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104261438084-0e37kb7sj2mrggp9s0ian5tvpt6r9b16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104261438084-0e37kb7sj2mrggp9s0ian5tvpt6r9b16</string>
	<key>API_KEY</key>
	<string>AIzaSyAoMiFAvkCoz_8-5OLzs56X-s70BEQo8qw</string>
	<key>GCM_SENDER_ID</key>
	<string>104261438084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gestock.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>opii-7b46b</string>
	<key>STORAGE_BUCKET</key>
	<string>opii-7b46b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104261438084:ios:61c5603a610f20224450d1</string>
</dict>
</plist>